In [25]:
import lccm
import numpy as np
import pandas as pd
import pylogit
from collections import OrderedDict

In [3]:
df = pd.DataFrame.from_csv('data/valueOfGreen.dat', sep='\t', index_col=None)

In [4]:
df.columns.values

array(['ID', 'Question', 'CHOICE', 'A1_AV', 'A2_AV', 'B1_AV', 'B2_AV',
       'T_AV', 'K_AV', 'W_AV', 'TT_A1', 'C_A1', 'GG_A1', 'TT_A2', 'C_A2',
       'GG_A2', 'TT_B1', 'C_B1', 'GG_B1', 'TT_B2', 'C_B2', 'GG_B2', 'TT_T',
       'C_T', 'GG_T', 'TT_K', 'TT_W', 'GENDER', 'VEG', 'CAR_OWNER',
       'INCOME', 'INDENV1', 'INDENV2', 'INDENV3', 'INDENV4', 'INDENV5',
       'INDENV6', 'INDENV7', 'INDENV8', 'INDENV9', 'INDENV10', 'INDENV11',
       'INDENV12', 'INDPT1', 'INDPT2', 'INDPT3', 'INDPT4', 'INDPT5',
       'INDAUTO1', 'INDAUTO2', 'INDAUTO3', 'INDAUTO4', 'INDAUTO5',
       'INDAUTO6', 'INDAUTO7'], dtype=object)

### Alternative id's

- 1 = Auto 1
- 2 = Auto 2
- 3 = Bus 1
- 4 = Bus 2
- 5 = Train
- 6 = Walk
- 7 = Bicycle

In [6]:
ind_vars = ['ID', 'GENDER', 'VEG', 'CAR_OWNER', 'INCOME']

alt_varying_vars = {'travel_time': dict([(1, 'TT_A1'), (2, 'TT_A2'), (3, 'TT_B1'), 
                                (4, 'TT_B2'), (5, 'TT_T'), (6, 'TT_K'), (7, 'TT_W')]),
                    'travel_cost': dict([(1, 'C_A1'), (2, 'C_A2'), (3, 'C_B1'),
                                (4, 'C_B2'), (5, 'C_T')]),
                    'emissions': dict([(1, 'GG_A1'), (2, 'GG_A2'), (3, 'GG_B1'), 
                                (4, 'GG_B2'), (5, 'GG_T')])}

availability_vars = {1: 'A1_AV', 2: 'A2_AV', 3: 'B1_AV', 4: 'B2_AV', 5: 'T_AV', 6: 'K_AV', 7: 'W_AV'}

alt_id_col = 'ALT_ID'

# 'ID' is the decision-maker, but there are multiple observations (choice scenarios) for each
df['OBS_ID'] = np.arange(df.shape[0], dtype=int) + 1
obs_id_col = 'OBS_ID'

choice_col = 'CHOICE'

data = pylogit.convert_wide_to_long(df, ind_vars, alt_varying_vars, 
                availability_vars, obs_id_col, choice_col, new_alt_id_name=alt_id_col)

In [7]:
data.describe()

,OBS_ID,ALT_ID,CHOICE,ID,GENDER,VEG,CAR_OWNER,INCOME,travel_time,emissions,travel_cost
count,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000
mean,835.500000,3.833333,0.333333,167.500000,1.586826,0.062874,1.847305,1.254491,46.968663,2.670619,1.901547
std,482.135508,2.034629,0.471452,96.426687,0.498497,0.242761,0.428145,1.642938,63.853640,2.652327,1.727593
min,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,8.000000,0.000000,0.000000
25%,418.000000,2.000000,0.000000,84.000000,1.000000,0.000000,2.000000,1.000000,15.000000,0.000000,0.000000
50%,835.500000,3.500000,0.000000,167.500000,2.000000,0.000000,2.000000,1.000000,30.000000,2.300000,1.500000
75%,1253.000000,6.000000,1.000000,251.000000,2.000000,0.000000,2.000000,1.000000,60.000000,4.500000,3.000000
max,1670.000000,7.000000,1.000000,334.000000,3.000000,1.000000,3.000000,9.000000,400.000000,10.000000,6.000000

In [18]:
ind_id_col = 'ID'
obs_id_col = 'OBS_ID'
alt_id_col = 'ALT_ID'
choice_col = 'CHOICE'

### Multinomial logit

In [49]:
# base case is alt_id = 7 (walking)

spec =  OrderedDict([
            ('intercept', [1, 2, 3, 4, 5, 6]),
            ('travel_time', [[1, 2, 3, 4, 5, 6, 7]]),
            ('travel_cost', [[1, 2, 3, 4, 5, 6, 7]]),
            ('emissions', [[1, 2, 3, 4, 5, 6, 7]])
        ])

labels = OrderedDict([
            ('intercept', ['asc_drive1', 'asc_drive1', 'asc_bus1', 'asc_bus2', 'asc_train', 'asc_bike']),
            ('travel_time', ['travel time']), 
            ('travel_cost', ['travel cost']),
            ('emissions', ['emissions'])
        ])

In [58]:
m = pylogit.create_choice_model(data = data, 
                                alt_id_col = alt_id_col, 
                                obs_id_col = obs_id_col, 
                                choice_col = choice_col, 
                                specification = spec, 
                                model_type = "MNL", 
                                names=labels)

m.fit_mle(init_vals = np.random.rand(9))
print m.get_statsmodels_summary()

Log-likelihood at zero: -1,834.6825
Initial Log-likelihood: -76,810.5580
Estimation Time: 0.04 seconds.
Final log-likelihood: -1,834.6825
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                      CHOICE   No. Observations:                1,670
Model:             Multinomial Logit Model   Df Residuals:                    1,661
Method:                                MLE   Df Model:                            9
Date:                     Wed, 09 Nov 2016   Pseudo R-squ.:                   0.000
Time:                             12:42:26   Pseudo R-bar-squ.:              -0.005
converged:                           False   Log-Likelihood:             -1,834.683
                                             LL-Null:                    -1,834.683
===============================================================================
                  coef    std err          z      P>|z|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
asc_drive1      0.6641      0.203      3.267      0.001         0.266     1.063
asc_drive1     -0.1321      0.218     -0.607      0.544        -0.559     0.294
asc_bus1        8.3547      0.191     43.846      0.000         7.981     8.728
asc_bus2        1.7155      0.249      6.896      0.000         1.228     2.203
asc_train       9.8273      0.190     51.661      0.000         9.454    10.200
asc_bike       -5.6794      0.187    -30.378      0.000        -6.046    -5.313
travel time -2318.0007      0.001  -2.13e+06      0.000     -2318.003 -2317.999
travel cost    43.1178      0.048    898.208      0.000        43.024    43.212
emissions      51.7794      0.029   1796.299      0.000        51.723    51.836
===============================================================================

### LCCM

In [34]:
# Class membership model

n_classes = 2

class_membership_spec = ['intercept', 'GENDER', 'VEG', 'INCOME', 'CAR_OWNER']
class_membership_labels = ['ASC', 'Gender', 'Vegetarian', 'Income', 'Car owner']

In [54]:
# Class-specific choice model

class_specific_specs = [spec, spec]
class_specific_labels = [labels, labels]

In [56]:
lccm.lccm_fit(data = data,
              ind_id_col = ind_id_col,
              obs_id_col = obs_id_col,
              alt_id_col = alt_id_col,
              choice_col = choice_col,
              n_classes = n_classes,
              class_membership_spec = class_membership_spec,
              class_membership_labels = class_membership_labels,
              class_specific_specs = class_specific_specs,
              class_specific_labels = class_specific_labels)

Processing data
Initializing EM Algorithm...

<Wed, 09 Nov 2016 12:26:25> Iteration 0: -1543.0645
<Wed, 09 Nov 2016 12:26:25> Iteration 1: -1414.2009
<Wed, 09 Nov 2016 12:26:25> Iteration 2: -1399.9768
<Wed, 09 Nov 2016 12:26:25> Iteration 3: -1394.9844
<Wed, 09 Nov 2016 12:26:25> Iteration 4: -1392.0182
<Wed, 09 Nov 2016 12:26:25> Iteration 5: -1389.8924
<Wed, 09 Nov 2016 12:26:25> Iteration 6: -1388.3465
<Wed, 09 Nov 2016 12:26:25> Iteration 7: -1387.2348
<Wed, 09 Nov 2016 12:26:25> Iteration 8: -1386.4450
<Wed, 09 Nov 2016 12:26:25> Iteration 9: -1385.8908
<Wed, 09 Nov 2016 12:26:25> Iteration 10: -1385.5080
<Wed, 09 Nov 2016 12:26:25> Iteration 11: -1385.2488
<Wed, 09 Nov 2016 12:26:25> Iteration 12: -1385.0771
<Wed, 09 Nov 2016 12:26:26> Iteration 13: -1384.9659
<Wed, 09 Nov 2016 12:26:26> Iteration 14: -1384.8952
<Wed, 09 Nov 2016 12:26:26> Iteration 15: -1384.8511
<Wed, 09 Nov 2016 12:26:26> Iteration 16: -1384.8240
<Wed, 09 Nov 2016 12:26:26> Iteration 17: -1384.8076
<Wed, 09 Nov 2016 12:26:26> Iteration 18: -1384.7977
<Wed, 09 Nov 2016 12:26:26> Iteration 19: -1384.7917
<Wed, 09 Nov 2016 12:26:26> Iteration 20: -1384.7882
<Wed, 09 Nov 2016 12:26:26> Iteration 21: -1384.7861
<Wed, 09 Nov 2016 12:26:26> Iteration 22: -1384.7849
<Wed, 09 Nov 2016 12:26:26> Iteration 23: -1384.7842
<Wed, 09 Nov 2016 12:26:26> Iteration 24: -1384.7838
<Wed, 09 Nov 2016 12:26:26> Iteration 25: -1384.7835
<Wed, 09 Nov 2016 12:26:27> Iteration 26: -1384.7834
<Wed, 09 Nov 2016 12:26:27> Iteration 27: -1384.7833


Number of Parameters:                                 23
Number of Observations:                             1670
Null Log-Likelihood:                            -1834.68
Fitted Log-Likelihood:                          -1384.78
Rho-Squared:                                        0.25
Rho-Bar-Squared:                                    0.23
AIC:                                             2815.57
BIC:                                              2940.0
Estimation time (minutes):                          0.03



Class 1 Model:
-----------------------------------------------------------------------------------------
Variables                                     parameters    std_err     t_stat    p_value
-----------------------------------------------------------------------------------------
['asc_drive1', 'asc_drive1', 'asc_bus1', 'asc_bus2', 'asc_train', 'asc_bike']    -1.4494     0.3486    -4.1571     0.0000
['travel time']                                  -1.3176     0.3769    -3.4961     0.0005
['travel cost']                                  -0.4517     0.2581    -1.7497     0.0802
['emissions']                                     0.3173     0.4624     0.6861     0.4926
-----------------------------------------------------------------------------------------

Class 2 Model:
-----------------------------------------------------------------------------------------
Variables                                     parameters    std_err     t_stat    p_value
-----------------------------------------------------------------------------------------
['asc_drive1', 'asc_drive1', 'asc_bus1', 'asc_bus2', 'asc_train', 'asc_bike']    14.2584     0.1532    93.0524     0.0000
['travel time']                                  14.3121     0.1697    84.3417     0.0000
['travel cost']                                  14.7816     0.1165   126.8605     0.0000
['emissions']                                    14.4127     0.2286    63.0343     0.0000
-----------------------------------------------------------------------------------------

Class Membership Model:
-----------------------------------------------------------------------------------------
Variables                                     parameters    std_err     t_stat    p_value
-----------------------------------------------------------------------------------------
ASC (Class 2)                                     1.6944     0.9946     1.7036     0.0884
Gender (Class 2)                                 -0.4830     0.3521    -1.3718     0.1701
Vegetarian (Class 2)                             -0.7654     0.6256    -1.2236     0.2211
Income (Class 2)                                 -0.0699     0.0966    -0.7240     0.4690
Car owner (Class 2)                               0.2440     0.4451     0.5483     0.5835
-----------------------------------------------------------------------------------------